<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.nombre }}</td>
            <td>{{ client.cedula }}</td>
            <td>{{ client.telefono }}</td>
            <td>{{ client.correo }}</td>
            <td>{{ client.direccion }}</td>
            <td>
              <a [routerLink]="['/editar-cliente', client.id]" class="btn btn-warning btn-sm">Editar</a>
              <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
